//widget
.widget{
    background: $light-blue; 
    margin-bottom: $xl-size;
    
    &__message{
        color: $off-white; 
        margin: 0; 
        text-align: center; 
        padding: $l-size; 
        border-bottom: .1rem solid lighten($light-blue, 10%);  
    }
}

// widget Header 
.widget-header{
    background: $blue;
    color: $off-white; 
    display: flex;  
    justify-content: space-between; 
    padding: $m-size;

    &__title{
        margin: 0; 
    }
}

